@import "../../App.scss";
.footer {
  width: 100%;
  border-top: 2px solid $primary-color; /* Assuming $primary-color is defined */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 25px; /* Set your desired footer height */
}
