.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid lightgray;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  padding: 0 20px 40px 20px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  margin: 20px;

  &.active {
    transition: all 0.5s ease-in-out;
  }

  .image-container {
    // width handled by jsx
    transition: all 0.5s ease-in-out;
    img {
      width: 100%;
    }
  }

  .title {
    text-align: center;
  }

  .toggle-button {
    cursor: pointer;
    text-align: right;
    position: absolute;
    font-weight: 600;
    font-size: 1.2em;
    bottom: 10px;
    right: 20px;
    border-radius: 5px;
    z-index: 1;
    background-color: white;
    border: 2px solid black;
  }
}

// create fade at bottom of article
.article::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgb(255, 255, 255, 1)
  );
}
