@import "../App.scss";

.title {
  text-align: center;
  color: $primary-color;
}

.article-grid {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space;
  padding: $space;
  @media (max-width: $break-point) {
    grid-template-columns: 1fr;
  }
}
