@import "../../App.scss";

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: white;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  color: $primary-color;

  .header-menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 40px;
    min-width: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);

    .hamburger {
      cursor: pointer;
      .hamburger-slice {
        width: 30px;
        height: 3px;
        background-color: $primary-color;
        margin: 5px;
        transition: 0.25s ease-in-out;
      }
      .line-1.active {
        transform: rotate(45deg) translate(5px, 6px);
      }
      .line-2.active {
        opacity: 0;
      }
      .line-3.active {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
    .header-title {
      flex-shrink: 0;
      color: $primary-color;
      font-family: "Libre Baskerville", serif;
      overflow: hidden;
      margin-left: 10px;
      margin-right: auto;
    }
    .nav-items {
      display: flex;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      overflow: hidden;

      a {
        flex-shrink: 0;
        margin: 0 10px;
        white-space: nowrap;
      }
    }
  }
  .header-item {
    margin: 0 5px;
    display: flex;
    align-items: center;
    .icon-container {
      width: 25px;
      height: 25px;
      margin: 5px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.sliding-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: fit-content;
  height: 100vh;
  top: 40px;
  left: -300px;
  transition: 0.25s ease-in-out;
  background-color: rgba($secondary-color, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
  padding: 25px;
  a {
    color: $primary-color;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
  }
  &.active {
    left: 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
}
