@import "../../App.scss";

$menu-width: 300px;

a {
  text-decoration: none;
  color: $primary-color;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: sticky;
  position: -webkit-fixed;
  top: 0;
  color: $primary-color;
  z-index: 10;

  .header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 40px;
    min-width: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    background-color: $secondary-color;

    .hamburger {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20px;
      cursor: pointer;

      .hamburger-slice {
        width: 30px;
        height: 3px;
        background-color: $primary-color;
        transition: 0.25s ease-in-out;
      }
      .line-1.active {
        transform: rotate(45deg) translate(6px, 6px);
      }
      .line-2.active {
        opacity: 0;
      }
      .line-3.active {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
    .title-logo {
      .lion-icon {
        height: 25px;
        width: auto;
        margin: 0;
      }
      .header-title {
        flex-shrink: 0;
        color: $primary-color;
        font-weight: 600;
        font-size: 2em;
        font-family: "leo";
        text-transform: lowercase;
      }
    }
    .nav-item {
      font-size: 1.5em;
    }
  }
  .sliding-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 200px;
    width: fit-content;
    top: -240px;
    transition: 0.25s ease-in-out;
    background-color: rgba($secondary-color, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
    padding: 0px 30px;

    a {
      color: $primary-color;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-decoration: none;
    }
    &.active {
      top: 40px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
