$primary-color: #4d0b35ff;
$secondary-color: #e5cc00ff;
$break-point: 768px;
$space: 20px;

.App {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: white;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-justify: center;
  padding: 0 20px;
}
