$primary-color: #48487f;
$break-point: 768px;
$space: 20px;

* {
  box-sizing: border-box;
}

.App {
  margin-top: 40px;
}

button {
  all: unset;
  background-color: $primary-color;
  text-transform: uppercase;
  color: #fff;
  padding: 3% 10%;
  margin: 4%;
}

.divider {
  width: 10%;
  height: 2px;
  background-color: $primary-color;
  margin: auto;
}
