@import "../App.scss";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;

    .hero-title {
      width: 75%;
      font-family: "Libre Baskerville", serif;
      font-size: clamp(3em, 10vw, 5em);
      font-weight: 600;
      color: $primary-color;
      margin-bottom: 10px;
      line-height: 1;
    }
  }

  .hero-image-container {
    width: clamp(25%, 50%, 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin: 10px;
    .hero-image {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  /* Adjust breakpoint as needed */
  .hero {
    .hero-image-container {
      width: 50%;
    }
  }
}
